################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Eurosong - IMS/.vs/Eurosong - IMS/FileContentIndex/1e2715a1-494c-436b-86ed-22bd48f40139.vsidx
/Eurosong - IMS/.vs/Eurosong - IMS/FileContentIndex/271063a6-191c-4645-8ffd-ced36a8e228f.vsidx
